## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Make sure the dependencies and API keys are imported correctly# Dependencies and Setup. 
# Use Pandas to read our CSV file and create the locations and measurements from the DataFrame. 
import pandas as pd

# Use the requests dependency to make a request to the Google Places JSON file. This will allow us to get hotel locations from the latitude and longitude of the city.
import requests

# Use gmaps and the API key to create heatmaps and the locations map.
import gmaps

# Import API key
from config import g_key

import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
0,0,Punta Arenas,CL,2021-08-02 19:48:22,-53.1500,-70.9167,42.91,75,75,21.85,light intensity shower rain,0,0
1,1,Fairbanks,US,2021-08-02 19:44:42,64.8378,-147.7164,78.03,58,20,0.00,few clouds,0,0
2,2,Nikolskoye,RU,2021-08-02 19:48:25,59.7035,30.7861,63.39,99,100,3.80,moderate rain,0,0
3,3,Ostrovnoy,RU,2021-08-02 19:48:26,68.0531,39.5131,56.59,90,87,7.34,overcast clouds,0,0
4,4,Grand-Santi,GF,2021-08-02 19:48:28,4.2500,-54.3833,80.76,80,83,1.39,broken clouds,0,0

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your vacation? "))
max_temp = float(input("What is your desired maximum temperature for your vacation? "))

What is your desired minimum temperature for your vacation? 72
What is your desired maximum temperature for your vacation? 80

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
1,1,Fairbanks,US,2021-08-02 19:44:42,64.8378,-147.7164,78.03,58,20,0.00,few clouds,0,0
5,5,Micheweni,TZ,2021-08-02 19:48:30,-4.9667,39.8333,74.23,82,92,11.32,overcast clouds,0,0
15,15,Ponta Do Sol,PT,2021-08-02 19:48:44,32.6667,-17.1000,76.01,72,13,6.26,few clouds,0,0
23,23,Albany,US,2021-08-02 19:47:48,42.6001,-73.9662,79.03,50,21,1.01,few clouds,0,0
32,32,Broome,US,2021-08-02 19:49:10,42.2506,-75.8330,75.00,53,20,1.99,few clouds,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,675,Erenhot,CN,2021-08-02 20:07:13,43.6475,111.9767,73.08,41,100,7.96,overcast clouds,0,0
679,679,Ushtobe,KZ,2021-08-02 20:07:19,45.2514,77.9838,76.17,20,100,6.17,overcast clouds,0,0
682,682,Resistencia,AR,2021-08-02 20:07:23,-27.4606,-58.9839,73.09,33,0,8.05,clear sky,0,0
683,683,Lethem,GY,2021-08-02 20:07:25,3.3803,-59.7968,79.48,80,98,2.46,overcast clouds,0,0
684,684,Ninh Binh,VN,2021-08-02 20:07:26,20.2539,105.9750,77.65,88,98,3.76,overcast clouds,0,0

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                    0
City                       0
Country                    0
Date                       0
Lat                        0
Lng                        0
Max Temp                   0
Humidity                   0
Cloudiness                 0
Wind Speed                 0
Current Description        0
Rain inches (last 3hrs)    0
Snow inches (last 3hrs)    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
1,1,Fairbanks,US,2021-08-02 19:44:42,64.8378,-147.7164,78.03,58,20,0.00,few clouds,0,0
5,5,Micheweni,TZ,2021-08-02 19:48:30,-4.9667,39.8333,74.23,82,92,11.32,overcast clouds,0,0
15,15,Ponta Do Sol,PT,2021-08-02 19:48:44,32.6667,-17.1000,76.01,72,13,6.26,few clouds,0,0
23,23,Albany,US,2021-08-02 19:47:48,42.6001,-73.9662,79.03,50,21,1.01,few clouds,0,0
32,32,Broome,US,2021-08-02 19:49:10,42.2506,-75.8330,75.00,53,20,1.99,few clouds,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,675,Erenhot,CN,2021-08-02 20:07:13,43.6475,111.9767,73.08,41,100,7.96,overcast clouds,0,0
679,679,Ushtobe,KZ,2021-08-02 20:07:19,45.2514,77.9838,76.17,20,100,6.17,overcast clouds,0,0
682,682,Resistencia,AR,2021-08-02 20:07:23,-27.4606,-58.9839,73.09,33,0,8.05,clear sky,0,0
683,683,Lethem,GY,2021-08-02 20:07:25,3.3803,-59.7968,79.48,80,98,2.46,overcast clouds,0,0
684,684,Ninh Binh,VN,2021-08-02 20:07:26,20.2539,105.9750,77.65,88,98,3.76,overcast clouds,0,0

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Fairbanks,US,78.03,few clouds,64.8378,-147.7164,
5,Micheweni,TZ,74.23,overcast clouds,-4.9667,39.8333,
15,Ponta Do Sol,PT,76.01,few clouds,32.6667,-17.1000,
23,Albany,US,79.03,few clouds,42.6001,-73.9662,
32,Broome,US,75.00,few clouds,42.2506,-75.8330,
35,Roma,US,75.38,few clouds,43.2128,-75.4557,
39,Bubaque,GW,79.12,overcast clouds,11.2833,-15.8333,
43,Hasaki,JP,77.40,overcast clouds,35.7333,140.8333,
46,Salamanca,ES,73.18,clear sky,40.8333,-6.0000,
54,Hami,CN,78.96,clear sky,42.8000,93.4500,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Fairbanks,US,78.03,few clouds,64.8378,-147.7164,Westmark Fairbanks Hotel & Conference Center
15,Ponta Do Sol,PT,76.01,few clouds,32.6667,-17.1000,Hotel do Campo
32,Broome,US,75.00,few clouds,42.2506,-75.8330,Chenango Valley State Park
35,Roma,US,75.38,few clouds,43.2128,-75.4557,Wingate By Wyndham Rome
39,Bubaque,GW,79.12,overcast clouds,11.2833,-15.8333,"Casa Dora, Bubaque"
...,...,...,...,...,...,...,...
675,Erenhot,CN,73.08,overcast clouds,43.6475,111.9767,Erenhot Rurouni Youth Hostel
679,Ushtobe,KZ,76.17,overcast clouds,45.2514,77.9838,"Gostinitsa ""Diyar"""
682,Resistencia,AR,73.09,clear sky,-27.4606,-58.9839,Niyat Urban Hotel
683,Lethem,GY,79.48,overcast clouds,3.3803,-59.7968,Savannah Inn
684,Ninh Binh,VN,77.65,overcast clouds,20.2539,105.9750,Kinh Do Hotel

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))